

@layer components{
	.input{
		@apply rounded-2 border-[1.5px] border-neutral-400 min-h-[48px];
		box-sizing: border-box;
		width: 100%;
		border-radius: theme(borderRadius.2);
		height: 100%;
		outline: none;
		padding: theme(spacing.3);
	}
}